@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Parisienne";
  src: url("../assets/fonts/Parisienne/Parisienne-Regular.ttf");
}
@font-face {
  font-family: "Jost bold";
  src: url("../assets/fonts/Jost/Jost-VariableFont_wght.ttf");
}

@keyframes slidein-30 {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slidein-200 {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes slideup-300 {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: rotateY(0px);
  }
}
